---
layout: concertina
title: Translations
---

<h2>Translating NeoMutt</h2>

<p>
  NeoMutt has been translated into 30 languages.
  Unfortunately, some of the translations are out-of-date.
</p>

<p>
  Do <b>YOU</b> speak one of these languages?
  If so, <a href="mailto:rich@flatcap.org">please help us</a>.
</p>

<p>
  Read more about what would be involved in
  <a href="/dev/translate">translating NeoMutt</a>.
</p>

<table class="lang" summary="list of languages">
  <thead>
    <tr>
      <th>Language</th>
      <th style="text-align: center;">
      <span style="border: 1px solid black; background: #6f6; padding: 3px;">Complete</span>
      <span style="border: 1px solid black; background: #ff6; padding: 3px;">Fuzzy</span>
      <span style="border: 1px solid black; background: #f66; padding: 3px;">Incomplete</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="/images/flags/english.png">English</td>
      <td>
      <div style="background: #6f6; min-width: 500px;">Base Language</div></td>
    </tr>
    <tr title="Lithuanian: 1337 translated">
      <td><img src="/images/flags/lithuanian.png">Lithuanian</td>
      <td>
        <div style="background: #6f6; min-width: 500px;">100%</div>
      </td>
    </tr>
    <tr title="Chinese (Simplified): 1328 translated, 4 fuzzy, 5 untranslated">
      <td><img src="/images/flags/chinese-simplified.png">Chinese (Simplified)</td>
      <td>
        <div style="background: #6f6; min-width: 484px;">99%</div>
        <div style="background: #ff6; min-width: 1px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 1px;">&#160;</div>
      </td>
    </tr>
    <tr title="German: 1324 translated, 7 fuzzy, 6 untranslated">
      <td><img src="/images/flags/german.png">German</td>
      <td>
        <div style="background: #6f6; min-width: 483px;">99%</div>
        <div style="background: #ff6; min-width: 2px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 2px;">&#160;</div>
      </td>
    </tr>
    <tr title="Portuguese (Brazil): 1323 translated, 8 fuzzy, 6 untranslated">
      <td><img src="/images/flags/portuguese-brazil.png">Portuguese (Brazil)</td>
      <td>
        <div style="background: #6f6; min-width: 482px;">98%</div>
        <div style="background: #ff6; min-width: 2px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 2px;">&#160;</div>
      </td>
    </tr>
    <tr title="Czech: 1323 translated, 8 fuzzy, 6 untranslated">
      <td><img src="/images/flags/czech.png">Czech</td>
      <td>
        <div style="background: #6f6; min-width: 482px;">98%</div>
        <div style="background: #ff6; min-width: 2px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 2px;">&#160;</div>
      </td>
    </tr>
    <tr title="Polish: 1185 translated, 88 fuzzy, 64 untranslated">
      <td><img src="/images/flags/polish.png">Polish</td>
      <td>
        <div style="background: #6f6; min-width: 443px;">88%</div>
        <div style="background: #ff6; min-width: 32px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 23px;">&#160;</div>
      </td>
    </tr>
    <tr title="Japanese: 1075 translated, 183 fuzzy, 79 untranslated">
      <td><img src="/images/flags/japanese.png">Japanese</td>
      <td>
        <div style="background: #6f6; min-width: 402px;">80%</div>
        <div style="background: #ff6; min-width: 68px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 29px;">&#160;</div>
      </td>
    </tr>
    <tr title="French: 1067 translated, 190 fuzzy, 80 untranslated">
      <td><img src="/images/flags/french.png">French</td>
      <td>
        <div style="background: #6f6; min-width: 399px;">79%</div>
        <div style="background: #ff6; min-width: 71px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 29px;">&#160;</div>
      </td>
    </tr>
    <tr title="Danish: 1055 translated, 206 fuzzy, 76 untranslated">
      <td><img src="/images/flags/danish.png">Danish</td>
      <td>
        <div style="background: #6f6; min-width: 394px;">78%</div>
        <div style="background: #ff6; min-width: 77px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 28px;">&#160;</div>
      </td>
    </tr>
    <tr title="Ukrainian: 1054 translated, 204 fuzzy, 79 untranslated">
      <td><img src="/images/flags/ukrainian.png">Ukrainian</td>
      <td>
        <div style="background: #6f6; min-width: 394px;">78%</div>
        <div style="background: #ff6; min-width: 76px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 29px;">&#160;</div>
      </td>
    </tr>
    <tr title="Russian: 1054 translated, 204 fuzzy, 79 untranslated">
      <td><img src="/images/flags/russian.png">Russian</td>
      <td>
        <div style="background: #6f6; min-width: 394px;">78%</div>
        <div style="background: #ff6; min-width: 76px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 29px;">&#160;</div>
      </td>
    </tr>
    <tr title="Catalan: 1053 translated, 203 fuzzy, 81 untranslated">
      <td><img src="/images/flags/catalan.png">Catalan</td>
      <td>
        <div style="background: #6f6; min-width: 393px;">78%</div>
        <div style="background: #ff6; min-width: 75px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 30px;">&#160;</div>
      </td>
    </tr>
    <tr title="Esperanto: 1032 translated, 212 fuzzy, 93 untranslated">
      <td><img src="/images/flags/esperanto.png">Esperanto</td>
      <td>
        <div style="background: #6f6; min-width: 385px;">77%</div>
        <div style="background: #ff6; min-width: 79px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 34px;">&#160;</div>
      </td>
    </tr>
    <tr title="Dutch: 1027 translated, 217 fuzzy, 93 untranslated">
      <td><img src="/images/flags/dutch.png">Dutch</td>
      <td>
        <div style="background: #6f6; min-width: 384px;">76%</div>
        <div style="background: #ff6; min-width: 81px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 34px;">&#160;</div>
      </td>
    </tr>
    <tr title="Italian: 929 translated, 272 fuzzy, 136 untranslated">
      <td><img src="/images/flags/italian.png">Italian</td>
      <td>
        <div style="background: #6f6; min-width: 347px;">69%</div>
        <div style="background: #ff6; min-width: 101px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 50px;">&#160;</div>
      </td>
    </tr>
    <tr title="Turkish: 929 translated, 256 fuzzy, 152 untranslated">
      <td><img src="/images/flags/turkish.png">Turkish</td>
      <td>
        <div style="background: #6f6; min-width: 347px;">69%</div>
        <div style="background: #ff6; min-width: 95px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 56px;">&#160;</div>
      </td>
    </tr>
    <tr title="Basque: 887 translated, 314 fuzzy, 136 untranslated">
      <td><img src="/images/flags/basque.png">Basque</td>
      <td>
        <div style="background: #6f6; min-width: 331px;">66%</div>
        <div style="background: #ff6; min-width: 117px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 50px;">&#160;</div>
      </td>
    </tr>
    <tr title="Swedish: 885 translated, 318 fuzzy, 134 untranslated">
      <td><img src="/images/flags/swedish.png">Swedish</td>
      <td>
        <div style="background: #6f6; min-width: 330px;">66%</div>
        <div style="background: #ff6; min-width: 118px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 50px;">&#160;</div>
      </td>
    </tr>
    <tr title="Indonesian: 879 translated, 317 fuzzy, 141 untranslated">
      <td><img src="/images/flags/indonesian.png">Indonesian</td>
      <td>
        <div style="background: #6f6; min-width: 328px;">65%</div>
        <div style="background: #ff6; min-width: 118px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 52px;">&#160;</div>
      </td>
    </tr>
    <tr title="Irish: 857 translated, 326 fuzzy, 154 untranslated">
      <td><img src="/images/flags/irish.png">Irish</td>
      <td>
        <div style="background: #6f6; min-width: 320px;">64%</div>
        <div style="background: #ff6; min-width: 121px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 57px;">&#160;</div>
      </td>
    </tr>
    <tr title="Spanish: 809 translated, 418 fuzzy, 110 untranslated">
      <td><img src="/images/flags/spanish.png">Spanish</td>
      <td>
        <div style="background: #6f6; min-width: 302px;">60%</div>
        <div style="background: #ff6; min-width: 156px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 41px;">&#160;</div>
      </td>
    </tr>
    <tr title="Slovak: 781 translated, 335 fuzzy, 221 untranslated">
      <td><img src="/images/flags/slovak.png">Slovak</td>
      <td>
        <div style="background: #6f6; min-width: 292px;">58%</div>
        <div style="background: #ff6; min-width: 125px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 82px;">&#160;</div>
      </td>
    </tr>
    <tr title="Greek: 737 translated, 378 fuzzy, 222 untranslated">
      <td><img src="/images/flags/greek.png">Greek</td>
      <td>
        <div style="background: #6f6; min-width: 275px;">55%</div>
        <div style="background: #ff6; min-width: 141px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 83px;">&#160;</div>
      </td>
    </tr>
    <tr title="Bulgarian: 728 translated, 375 fuzzy, 234 untranslated">
      <td><img src="/images/flags/bulgarian.png">Bulgarian</td>
      <td>
        <div style="background: #6f6; min-width: 272px;">54%</div>
        <div style="background: #ff6; min-width: 140px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 87px;">&#160;</div>
      </td>
    </tr>
    <tr title="Hungarian: 723 translated, 376 fuzzy, 238 untranslated">
      <td><img src="/images/flags/hungarian.png">Hungarian</td>
      <td>
        <div style="background: #6f6; min-width: 270px;">54%</div>
        <div style="background: #ff6; min-width: 140px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 89px;">&#160;</div>
      </td>
    </tr>
    <tr title="Korean: 721 translated, 380 fuzzy, 236 untranslated">
      <td><img src="/images/flags/korean.png">Korean</td>
      <td>
        <div style="background: #6f6; min-width: 269px;">53%</div>
        <div style="background: #ff6; min-width: 142px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 88px;">&#160;</div>
      </td>
    </tr>
    <tr title="Estonian: 717 translated, 376 fuzzy, 244 untranslated">
      <td><img src="/images/flags/estonian.png">Estonian</td>
      <td>
        <div style="background: #6f6; min-width: 268px;">53%</div>
        <div style="background: #ff6; min-width: 140px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 91px;">&#160;</div>
      </td>
    </tr>
    <tr title="Chinese (Traditional): 648 translated, 425 fuzzy, 264 untranslated">
      <td><img src="/images/flags/chinese-traditional.png">Chinese (Traditional)</td>
      <td>
        <div style="background: #6f6; min-width: 242px;">48%</div>
        <div style="background: #ff6; min-width: 158px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 98px;">&#160;</div>
      </td>
    </tr>
    <tr title="Galician: 642 translated, 429 fuzzy, 266 untranslated">
      <td><img src="/images/flags/galician.png">Galician</td>
      <td>
        <div style="background: #6f6; min-width: 240px;">48%</div>
        <div style="background: #ff6; min-width: 160px; border-left: 1px solid black; border-right: 1px solid black;">&#160;</div>
        <div style="background: #f66; min-width: 99px;">&#160;</div>
      </td>
    </tr>
  </tbody>
</table>
<br>
Last updated: 2018-08-21 11:18 UTC
